
.s_head{
    text-align: center;
}

.signup-form,.login-form{
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 300px;
    //margin-left: 400px;
    //margin-right: 400px;
    //margin: 100px;
  // padding: 100px;
}
.linktoggle{
text-align: right;
color:blueviolet


}